node_modules/
.serverless/
.local/
.webpack/
.esbuild/
schemas/**/*.graphql
.env
.idea
.DS_Store
build/
.vscode
.pnpm-debug.log
.postgres
.postgres-analytics
wallaby.js
/lambdas/.dynanodb
dist
coverage